.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.vscode/
.htaccess
.nginx
nginx.htaccess
.user.ini
test.php
phpinfo.php
sitemap.xml
templates_d/
templates_c/
logs/
db/
public/test.php
/static/news_img/
/static/index_img/
tmp